<!-- Кнопки плагина, отображаются на сайтах -->

<div id="th_main_wrap">
	<!-- стили для кнопок плагина -->
	<style>
		#th_main_wrap {
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			position: fixed;
			bottom: 0;
			width: 100%;
			z-index: 99999;
		}
		#th_buttons_header {
			height: initial !important;
			cursor: pointer;
		}
		#th_buttons_wrap {
			width: 500px;
			text-align: center;
		}
		#th_buttons_header {
			width: 100%;
		}
		#th_buttons_wrap, #th_buttons_header {
			background-color: white;
			margin: 0 auto;
		}
		#th_select {
			height: initial;
		}
	</style>

 	<div class="bootstrap-th">
		<div id="th_buttons_wrap" class="card">
			<div id="th_buttons_header" class="card-header"><h6 class="my-0 font-weight-normal">Скрыть / Показать</h6></div>
			<div id="th_cart_body" class="card-body" style="display: none;">

				<div class="btn btn-sm btn-outline-secondary" id="th_scan">SCAN</div>
				<div class="btn btn-sm btn-outline-secondary" id="th_up">UP</div>
				<div class="btn btn-sm btn-outline-secondary" id="th_down">DOWN</div>

				<small class="text-muted">скан сайта:</small>
				<select class="custom-select-sm" id="th_select">
					<!--
					<option> Список сайтов для скана </option>
					-->
					${0} <!-- Для замены в background.js -->
				</select>
			</div>
		</div>
	</div>

</div>