<!-- Блок на котором информация о цене, профите при депозите и выводе и др. -->

<div class="th_price_wrap" style="top: ${top}%;">

	<span class="th_green" title="Процент прибыли для депозита на текущий сайт"> ${green} </span>
	<span class="th_red" title="Процент прибыли для вывода c текущего сайта и последующего депозита на сканируемый"> ${red} </span>

	<br>

	<span class="th_price"> ${price} </span>
	<span class="th_count" title="Количество имеющихся предметов на сканируемом сайте"> ${count} </span>

</div>